@import "tailwindcss";

@layer base {
    :root {
        --color-bg: #09090b;
        --color-text: #e4e4e7;
        --color-accent: #7f1d1d;
    }

    html {
        scroll-behavior: smooth;
        background-color: var(--color-bg);
        color: var(--color-text);
    }

    body {
        font-family: "Manrope", sans-serif;
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Cinzel", serif;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
